/* Text */
$text-white-color: #FFF;
$text-og-color: orange;
$text-aq-color: aquamarine;
$text-purple-color: purple;
$text-black-color: black;

/* Hover */
$hover-color-turquoise: turquoise;
$hover-color-orange: rgb(233, 157, 42);

/* Background */
$bg-white-color: #FFF;
$bg-black-color: black;

/* Default size*/
$def-size: 1rem;